<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MobyGamesScraper.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MobyGamesScraper.Settings1>
            <setting name="ApiKey" serializeAs="String">
                <value>GjZ28WpE5xGsFiKTBtT8Zg==</value>
            </setting>
            <setting name="WaitBetweenApiCalls" serializeAs="String">
                <value>5</value>
            </setting>
        </MobyGamesScraper.Settings1>
    </userSettings>
</configuration>